

a {
	cursor: pointer !important;
}
.mt2 {
	margin-top: 2em !important;
}
.mt1 {
	margin-top: 1em !important;
}
.mb1 {
	margin-bottom: 1em !important;
}
.mb2 {
	margin-bottom: 2em !important;
}
.red {
	color: red !important;
}
.font-sm {
	font-size: 10px;
}